// Small tablets and large smartphones (landscape view)
$screen-sm-max: 700px;
// tablets
$screen-md-max: 1024px;
// Large tablets and desktops
$screen-xl-max: 1440px;

$primary-background: #b1b1b1;
$secondery-background: #efefef;

@mixin sm {
    @media only screen and (max-width: $screen-sm-max) {
        @content;
    }
}
@mixin md {
    @media only screen and (max-width: $screen-md-max) {
        @content;
    }
}
@mixin xl {
    @media only screen and (max-width: $screen-xl-max) {
        @content;
    }
}
@mixin xxl {
    @media only screen and (min-width: $screen-xl-max) {
        @content;
    }
}

// Global selectors
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: $primary-background;
    margin: 0;
    padding: 0;
}
li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    background-color: #94ca96; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    border-radius: 4px;
    &:hover {
        background-color: #52aa55; /* Dark Green */
    }
}
.pointer-hand {
    cursor: pointer;
}
.flex {
    display: flex;
}
.align-center {
    text-align: center;
}
.m-0 {
    margin: 0;
}
header {
    position: fixed;
    width: 100%;
    background-color: $secondery-background;
    & > ul {
        justify-content: space-between;
        margin: 1em;
    }
    .cart {
        position: absolute;
        top: 60px;
        right: 0;  
        background: $secondery-background;
        width: 350px;
        padding: 0.5em 0.5em 0.25em 0.5em;
        .cart-item {
            align-items: center;
            background: $primary-background;
            margin-bottom: 0.25em;
            & > li {
                margin: 0.5em;
                img {
                    width: 50px;
                }
                button {
                    font-size: 1.5em;
                    padding: 0.25em;
                }
            }
            & > li:nth-child(2) {
                flex: 2;
            }
        }
    }
    .close-cart-padding {
        padding: 0 10px;
    }
}
section.catalog {
    padding-top: 60px;
    ul, li {
        padding: 0.125em;
    }
}